<div class="container mt-5">
    <div class="restaurant-details card shadow-sm">
        <div class="restaurant-header card-header bg-grey text-white d-flex justify-content-center align-items-center position-relative">
            <div class="text-center flex-grow-1">
                <h1>{{foodItemResponse.restaurant.name}}</h1>
                <p>{{foodItemResponse.restaurant.restaurantDescription}}</p>
            </div>
            <button class="checkout-button btn btn-success position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);" (click)="onCheckOut()">
                <i class="fas fa-shopping-cart"></i> Checkout
            </button>
        </div>
        <div class="card-body">
            <h4 class="food-menu-title my-4">Food Menu</h4>
            <div class="food-list row">
                <div class="food-item col-md-6 mb-4" *ngFor="let food of foodItemResponse.foodItemsList">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{food.itemName}}</h5>
                            <p class="card-text">&#x20b9; {{food.price}}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="food-quantity">
                                <button class="btn btn-danger btn-sm" *ngIf="food.quantity > 0" (click)="decrement(food)">-</button>
                                <span class="mx-2">{{food.quantity}}</span>
                                <button class="btn btn-primary btn-sm" (click)="increment(food)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
